{% extends "core/base_generic.html" %}


{% block MyStatics %}
<!-- My Style -->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
<!-- My JavaScript -->
{% load static %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block title %}Login{% endblock %}




{% block content %}

<div class="container-fluid m-auto g-2 p-2">
<div class="col-md-3 m-auto justify-content-center d-grid g-2 p-2 bg-light ">


  <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
                aria-controls="home" aria-selected="true">Usuario</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                aria-controls="profile" aria-selected="false">Trabajador</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"
                aria-controls="messages" aria-selected="false">Mensajes</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab"
                aria-controls="settings" aria-selected="false">Configuración</button>
            </li> -->
          </ul>



  <!-- Tab panes -->
          <div class="tab-content">


          <!-- Primera Pestaña -->

            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <h5 class="card-title">Autenticación de usuario</h5>
              <p class="card-text">Complete los campos para ingresar en nuestro sitio</p>

              <!-- Inicio de formulario -->
              <form method="post" id="form_registro">
                {% csrf_token %}
                <div>
              
                  <label for="email">Nombre de usuario: <span class="asterik">*</span></label>
                  <div class="form-group" id="email">{{ form.username }}</div>
                </div>
                <!-- <h6 id="emailvalidation"></h6> -->
                <div>
                  <label for="password">Contraseña: <span class="asterik">*</span></label>
                  <div class="form-group" id="password">{{ form.password }}</div>
                </div>
                <!-- <h6 id="passwordvalidation"></h6> -->
              
                <br>
                <input type="submit" value="Ingreso cliente" class="btn btn-success">
                <br>
                </form>
    <!-- Termino de formulario -->
                  
                  {# Assumes you setup the password_reset view in your URLconf #}
                  <a href="{% url 'password_reset' %}">Olvido la contraseña?</a>
                  <div class="alert" role="alert">{{mensaje}}</div>
                  
                  
                  <div class="row m-auto justify-content-center d-inline-flex gap-2">
                    {% if form.errors %}
                    <h6>Tu nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</h6>
                    {% endif %}
                  
                    {% if next %}
                    {% if user.is_authenticated %}
                    <h8>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</h8>
                    {% else %}
                    <h8>Inicie sesión para ver esta página.</h8>
                  
                    {% endif %}
                    {% endif %}
                  
                  </div>

                  <div class="col-lg-auto mt-2 d-inline-flex gap-2">
                    <a href="{% url 'registro' %}">
                      <button type="button" class="btn btn-sm btn-outline-primary">Registrarse</button> </a>
                  </div>
            </div>







    <!-- Segunda Pestaña -->
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">

              <h5 class="card-title">Autenticación de trabajador</h5>
              <p class="card-text">Complete los campos para ingresar en nuestro sitio</p>
              
              <!-- Inicio de formulario -->
              <form method="post" id="form_registro">
                {% csrf_token %}
                <div>
              
                  <label for="email">Nombre de usuario: <span class="asterik">*</span></label>
                  <div class="form-group" id="email">{{ form.username }}</div>
                </div>
                <!-- <h6 id="emailvalidation"></h6> -->
                <div>
                  <label for="password">Contraseña: <span class="asterik">*</span></label>
                  <div class="form-group" id="password">{{ form.password }}</div>
                </div>
                <!-- <h6 id="passwordvalidation"></h6> -->
              
                <br>
                <input type="submit" value="Ingreso trabajador" class="btn btn-success">
                <br>
                </form>
    <!-- Termino de formulario -->
                
                {# Assumes you setup the password_reset view in your URLconf #}
                <a href="{% url 'password_reset' %}">Olvido la contraseña?</a>
                <div class="alert" role="alert">{{mensaje}}</div>
                
                
                <div class="row m-auto justify-content-center d-inline-flex gap-2">
                  {% if form.errors %}
                  <h6>Tu nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</h6>
                  {% endif %}
                
                  {% if next %}
                  {% if user.is_authenticated %}
                  <h8>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</h8>
                  {% else %}
                  <h8>Inicie sesión para ver esta página.</h8>
                
                  {% endif %}
                  {% endif %}
                
                </div>

                <div class="col-lg-auto mt-2 d-inline-flex gap-2">
                  <a href="{% url 'registro' %}">
                    <button type="button" class="btn btn-sm btn-outline-primary">Registrarse</button> </a>
                </div>

                </div>

          <!-- 
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>




            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div> -->


  </div>
</div>


{% endblock %}



<!-- <div class="container d-table container-sm p-5 gap-2">
  <br>
        <h2 class="text-center text-dark"></h2>
        <p class="text-center"></p>
    <div class="col-lg-auto justify-content-center d-grid gap-2 ">
</div> -->