{% extends "core/base_generic.html" %}


{% block MyStatics %}
<!-- My Style -->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/addmenu.css' %}">
<!-- My JavaScript -->
{% load static %}
<script src="{% static 'js/addmenu.js' %}"></script>
{% endblock %}

{% block title %}Agregar producto{% endblock %}


{% block content %}

<main class="container">


    <h1 class="text-center text-dark">Formulario de productos</h1>
    <p class="text-center">Completa los campos para agregar una planta a la tienda</p>

      <div class="col-lg-8 m-auto d-block">

        <form action="#">


          <div class="form-group">
            <label for="name">Nombre Común: <span class="asterik">*</span></label>
            <input type="text" name="name" id="name" class="form-control" autocomplete="off" />
            <h6 id="nameValidation"></h6>
          </div>
          <div class="form-group">
            <label for="sciname">Nombre Científico: <span class="asterik">*</span></label>
            <input type="text" name="sciname" id="sciname" class="form-control" autocomplete="off" />
            <h6 id="scinameValidation"></h6>
          </div>
          <div class="form-group">
            <label for="bibl">Bibliografía: <span class="asterik">*</span></label>
            <input type="text" name="bibl" id="bibl" class="form-control" autocomplete="off" />
            <h6 id="biblValidation"></h6>
          </div>
          <div class="form-group">
            <label for="imagen">Adjuntar fotografía <span class="asterik">*</span></label>
            <input type="file" name="imagen" id="imagen" accept=".png,.jpg,.jpeg" class="form-control" autocomplete="off" />
            <h6 id="priceValidation"></h6>
          </div>
          <br />

          <!-- <input
            type="submit" -->

            <a href="/html/agregarprod.html">
              <button type="button" id="submitValidation" onclick="myFunction()" class="btn btn-lg btn-primary">Agregar</button> </a>


        </form>


</main>

{% endblock %}