{% extends "core/base_generic.html" %}


{% block MyStatics %}
<!-- My Style -->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/carro.css' %}">
<!-- My JavaScript -->
{% load static %}
<script src="{% static 'js/carro.js' %}"></script>
{% endblock %}


{% block title %}Carro de Compra{% endblock %}


{% block content %}


<div class="container p-5 m-auto justify-content-center align-items-center d-inline-flex gap-2 border">

  <!-- Encabezado -->
  <div class="col-lg-auto bg-success text-white d-inline-flex p-2 gap-2">
    <h1>Carro de compra</h1>

    <!-- Cajon de busqueda -->
    <form class="d-inline-flex m-auto gap-2">
      <input class="form-control m-auto" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-sm  btn-info" type="button" id="boton">Buscar</button>
    </form>
  </div>
</div>

<br>


<main class="container bg-success">
  {% for pl in producto %}
  <section class="row row-cols-auto row-cols-auto">
    <div class="card bg-success border-warning text-white ">
      <div class="card-header font-italic">
        {{pl.scientific_name}}
      </div>
      <img class="card-img-top" src="{{pl.image_url}}" alt="Card image cap">
      <!-- <div class="card__image-container">
        <img  src="{{pl.image_url}}"/>
      </div> -->
      <div class="card-body justify-content-center d-grid gt-2">
        <div class="col-lg-auto d-inline-flex">
          <h6 class="card-text"> Nombre Común:</h6>
          <h5 class="card-title">{{pl.common_name}}</h5>
        </div>


        <a href="#" class="btn btn-primary">Agregar</a>
      </div>

      <div class="card-footer "> Bibliografía: {{pl.bibliography}} </div>
    </div>
  </section>
  {% endfor %}

</main>




  {% endblock %}