{% extends "core/base_generic.html" %}


{% block MyStatics %}
<!-- My Style -->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/registro.css' %}">
<!-- My JavaScript -->
{% load static %}
<script src="{% static 'js/registro.js' %}"></script>
{% endblock %}

{% block title %}Registro{% endblock %}


{% block content %}


 <div class="container d-table container-sm p-5 gap-2 m-auto justify-content-center">
    <br>
<!-- Encabezado -->
          <h1 class="text-center text-dark">Fomulario de registro</h1>
          <p class="text-center">Complete los campos para registrarse en nuestro sitio</p>
            <div class="col-lg-auto m-auto justify-content-center d-grid gap-2 ">
<!-- Inicio de formulario -->
{% csrf_token %}
                <form method="post"  id="form_registro">
                    <!-- <div class="form-group g-2"> -->
                    <div class="col">

                    <label for="username">Usuario: <span class="asterik">*</span></label>
                    <ul id="username">{{ form.username }}</ul>
                    <!-- <h6 id="emailvalidation"></h6> -->

                    <label for="first_name">Nombre: <span class="asterik">*</span></label>
                    <ul id="first_name">{{ form.first_name }}</ul>
                    <!-- <h6 id="emailvalidation"></h6> -->

                    <label for="last_name">Apellido: <span class="asterik">*</span></label>
                    <ul id="last_name">{{ form.last_name }}</ul>
                    <!-- <h6 id="emailvalidation"></h6> -->

                    <label for="email">Correo: <span class="asterik">*</span></label>
                    <ul id="email">{{ form.email }}</ul>
                    <!-- <h6 id="emailvalidation"></h6> -->

                    <label for="password1">Contraseña: <span class="asterik">*</span></label>
                    <ul id="password1">{{ form.password1 }}</ul>
                    <!-- <h6 id="passwordvalidation"></h6> -->

                    <label for="password2">Reingrese Contraseña: <span class="asterik">*</span></label>
                    <ul id="password2">{{ form.password2 }}</ul>
                    <!-- <h6 id="passwordvalidation"></h6> -->
                    
                    </div>
                    <!-- </div> -->

                    <br>

                    <div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </div>

                </form>
<!-- Termino de formulario -->

                <div class="alert" role="alert">{{mensaje}}</div>

                </div>


 </div>


{% endblock %}